<a href="https://colab.research.google.com/github/praveen555/IMI-BIGDATA--CHALLENGE/blob/main/Task_1_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import os
import pandas as pd
import re 
import matplotlib.pyplot as plt
from datetime import datetime, date
import numpy as np
from google.colab import drive
drive.mount('/content/drive')
path='/content/drive/MyDrive/Colab Notebooks/IMI_BigData_Challenge/Raw data files'
path_edge=os.path.join(path,'UofT_edges.csv')
path_nodes=os.path.join(path,'UofT_nodes.csv')
path_occupation_risk=os.path.join(path,'UofT_occupation_risk.csv')
path_name_list='/content/drive/MyDrive/Colab Notebooks/IMI_BigData_Challenge/name_list.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
date_col_1=['birth_date']
date_col_2=['BIRTH_DT','CUST_ADD_DT']

In [36]:
sanction_names=pd.read_csv(path_name_list)
data=pd.read_csv(path_nodes)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [37]:
sanction_names.head()

,id,schema,name,aliases,birth_date,countries,addresses,identifiers,sanctions,phones,emails,dataset,first_seen,last_seen
0,acf-00040861bc3f593000830d987d09967ef3503ef1,Person,Kolyvanov Egor,Колыванов Егор,1980-11-15,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26:25,2022-12-23 18:13:41
1,acf-0011c68a768924609dc5da5707ac7fa4c4d645a2,Person,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-07-09 18:14:08,2022-12-23 18:13:41
2,acf-001e7e4c0363f08f1e784c230457960b84a6416f,Person,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26:25,2022-12-23 18:13:41
3,acf-002c208139012c8d93b6298358188d7cadafe648,Person,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-09-20 01:05:26,2022-12-23 18:13:41
4,acf-002cc8fdf8fe41185091a7cb6c598663e7a22eb5,Person,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-09-20 01:05:26,2022-12-23 18:13:41

In [38]:
data.head()

,BIRTH_DT,CUST_ADD_DT,OCPTN_NM,RES_CNTRY_CA,CNTRY_OF_INCOME_CA,PEP_FL,CASH_SUM_IN,CASH_CNT_IN,CASH_SUM_OUT,CASH_CNT_OUT,WIRES_SUM_IN,WIRES_CNT_IN,WIRES_SUM_OUT,WIRES_CNT_OUT,COUNTRY_RISK_INCOME,COUNTRY_RISK_RESIDENCY,RISK,NAME,GENDER,CUSTOMER_ID
0,1981-09-01,2007-07-05,89.0,1,1,0.0,2577.785,2.0,2851.663,7.0,70774.0,62.0,24244.0,35.0,Low,Low,low,"Young, Marie Mildren Coleman",Female,935382.0
1,1994-02-21,2019-05-19,89.0,1,1,0.0,3035.502,2.0,4805.997,15.0,282929.0,76.0,196439.0,152.0,Low,Low,low,Mark Stupar Lecy,Male,2305.0
2,1962-11-16,2011-08-02,89.0,1,1,0.0,1617.571,1.0,3482.809,11.0,7632.0,6.0,33598.0,20.0,Low,Low,low,Dean Glasper Wendel Reeves,Male,472403.0
3,1998-06-20,2001-08-15,89.0,1,1,0.0,3587.042,5.0,1940.943,8.0,149253.0,71.0,105896.0,238.0,Low,Low,low,"Hulsey, Linda Rauth",Female,227994.0
4,1942-01-24,2012-10-28,89.0,1,1,0.0,1725.524,2.0,13197.169,43.0,92318.0,96.0,187403.0,180.0,Low,Low,low,Carolyn Washington Roberts,Female,418265.0

In [39]:
data.shape

(1000000, 20)

In [40]:
data.isnull().sum()

BIRTH_DT                     0
CUST_ADD_DT               4178
OCPTN_NM                  6384
RES_CNTRY_CA                 0
CNTRY_OF_INCOME_CA           0
PEP_FL                       0
CASH_SUM_IN                  0
CASH_CNT_IN                  0
CASH_SUM_OUT                 0
CASH_CNT_OUT                 0
WIRES_SUM_IN                 0
WIRES_CNT_IN                 0
WIRES_SUM_OUT                0
WIRES_CNT_OUT                0
COUNTRY_RISK_INCOME          0
COUNTRY_RISK_RESIDENCY       0
RISK                         0
NAME                       660
GENDER                     628
CUSTOMER_ID                  0
dtype: int64

In [41]:
data[data['NAME'].isna()]

,BIRTH_DT,CUST_ADD_DT,OCPTN_NM,RES_CNTRY_CA,CNTRY_OF_INCOME_CA,PEP_FL,CASH_SUM_IN,CASH_CNT_IN,CASH_SUM_OUT,CASH_CNT_OUT,WIRES_SUM_IN,WIRES_CNT_IN,WIRES_SUM_OUT,WIRES_CNT_OUT,COUNTRY_RISK_INCOME,COUNTRY_RISK_RESIDENCY,RISK,NAME,GENDER,CUSTOMER_ID
666,1992-02-15,2010-11-12,89.0,1,1,0.0,4939.581,6.0,1028.585,4.0,7096.0,2.0,61067.0,49.0,Low,Low,low,NaN,Female,43461.0
1015,2009-05-14,2021-02-20,89.0,1,1,0.0,3556.222,3.0,338.113,1.0,38090.0,15.0,80053.0,43.0,Low,Low,low,NaN,NaN,518946.0
1199,1953-10-26,1986-03-24,89.0,1,1,0.0,10251.613,17.0,14416.108,41.0,172992.0,80.0,216597.0,297.0,Low,Low,low,NaN,NaN,402686.0
1252,1945-11-13,2010-06-28,NaN,1,1,0.0,5844.463,7.0,11162.385,18.0,158864.0,94.0,91584.0,72.0,Low,Low,low,NaN,NaN,104453.0
2263,1977-04-22,2013-06-03,89.0,1,1,0.0,1442.583,2.0,3226.940,13.0,49338.0,65.0,12038.0,35.0,Low,Low,low,NaN,NaN,637208.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993715,1987-07-17,2016-06-15,504.0,0,1,1.0,38391.000,12.0,35981.000,10.0,547714.0,5.0,1037825.0,49.0,Low,High,medium,NaN,NaN,896627.0
993864,1970-09-14,2011-01-21,89.0,0,1,0.0,31240.000,22.0,16938.000,19.0,16636259.0,21.0,5142265.0,183.0,Low,High,medium,NaN,NaN,600679.0
994480,1953-11-20,2019-09-24,79.0,0,1,0.0,8679.000,5.0,63174.000,35.0,6750058.0,23.0,2351034.0,88.0,Low,High,medium,NaN,NaN,731678.0
997708,1971-12-18,2014-09-01,89.0,0,1,0.0,62692.000,25.0,11552.000,3.0,4904771.0,2.0,2189384.0,64.0,Low,High,medium,NaN,NaN,691062.0
997796,1962-12-18,2008-05-15,89.0,0,1,0.0,3100.413,0.0,11332.000,8.0,4105843.0,44.0,1805933.0,177.0,Low,High,high,NaN,NaN,617186.0

In [42]:
sanction_list=sanction_names[['name','aliases','birth_date']]

In [44]:
sanction_list.isnull().sum()

name               0
aliases       103359
birth_date    103818
dtype: int64

No missing names. But difficult to fill in DOB.

In [54]:
sanction_list.shape

(247143, 3)

In [45]:
customer_names=data[['NAME','BIRTH_DT']]

In [48]:
customer_names

                                  NAME    BIRTH_DT
0         Young, Marie Mildren Coleman  1981-09-01
1                     Mark Stupar Lecy  1994-02-21
2           Dean Glasper Wendel Reeves  1962-11-16
3                  Hulsey, Linda Rauth  1998-06-20
4           Carolyn Washington Roberts  1942-01-24
...                                ...         ...
999995               Bret* Dove Gainey  1939-01-16
999996       Anthony Ray Montano Gomez  1970-12-13
999997  Bernadette Schofield Pace Mile  1958-09-09
999998         Wasson, Russell Terrell  1983-09-15
999999                Daniel Mckeighan  1962-01-23

[1000000 rows x 2 columns]

Delete 660 names

In [49]:
customer_names.dropna(inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [50]:
customer_names.shape

(999340, 2)

## Unique DOBs present in Customer Database

In [51]:
len(customer_names.BIRTH_DT.unique())

37384

## Unique Names pressent in Customer Database

In [52]:
len(customer_names.NAME.unique())

995518

only 3822 duplicate names are present. Without any preprocessing

## Unique DOB present in sanction list

In [ ]:
len(sanction_list.birth_date.unique())

28923

## Unique Names present in Sanction list

In [53]:
len(sanction_list.name.unique())

240567

## clean customer name data

In [56]:
import re

In [57]:
def clean(col):
  letters_only = re.sub('[^a-zA-Z]', ' ', str(col)) #keep only letters
  lower_letters=letters_only.lower() #convert to lower.
  return lower_letters

In [58]:
customer_names['cleaned_names']=customer_names['NAME'].apply(clean)

<ipython-input-58-920a0afc55c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_names['cleaned_names']=customer_names['NAME'].apply(clean)

In [59]:
customer_names.head(2)

                           NAME    BIRTH_DT                 cleaned_names
0  Young, Marie Mildren Coleman  1981-09-01  young  marie mildren coleman
1              Mark Stupar Lecy  1994-02-21              mark stupar lecy

In [60]:
customer_names.loc[612667]

NAME             Finney, \ne
BIRTH_DT          1977-06-12
cleaned_names    finney   ne
Name: 612667, dtype: object

Insight into cleaning. One letter could be missing. But this is just basic cleaning.

In [62]:
len(customer_names.cleaned_names.unique())

995367

another 151 duplicate records found.

In [67]:
customer_names.isna().sum() # no missing data

NAME             0
BIRTH_DT         0
cleaned_names    0
dtype: int64

## clean sanction List

In [64]:
sanction_list['cleaned_names']=sanction_list['name'].apply(clean)

<ipython-input-64-b97c1e7bab3a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sanction_list['cleaned_names']=sanction_list['name'].apply(clean)

In [65]:
sanction_list.head(2)

,name,aliases,birth_date,cleaned_names
0,Kolyvanov Egor,Колыванов Егор,1980-11-15,kolyvanov egor
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,shipov sergei yurievich

In [68]:
##rename columns and save
sanction_list.rename(columns={'name':'NAME','birth_date':'BIRTH_DT'},inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [69]:
sanction_list.head(2)

,NAME,aliases,BIRTH_DT,cleaned_names
0,Kolyvanov Egor,Колыванов Егор,1980-11-15,kolyvanov egor
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,shipov sergei yurievich

In [72]:
customer_names.to_csv('clean_customer_names.csv')

In [73]:
sanction_list.to_csv('clean_sanction_names.csv')