<a href="https://colab.research.google.com/github/praveen555/IMI-BIGDATA--CHALLENGE/blob/main/Clean_Sanction_Names_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cleaning the sanction names.

In [1]:
import pandas as pd
import re

In [2]:
df=pd.read_csv('raw_sanction_names_list.csv',encoding="utf-8")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

1. select only persons 
2. select only name, dob and aliases

In [3]:
df=df[df['schema']=='Person']

In [4]:
df=df[['name','aliases','birth_date']]

In [5]:
df

,name,aliases,birth_date
0,Kolyvanov Egor,Колыванов Егор,1980-11-15
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17
2,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21
3,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13
4,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24
...,...,...,...
246987,Anthony Diamante,NaN,NaN
246988,Simone Mitchell,NaN,NaN
246989,Ana Perales,NaN,NaN
246990,Laurie Hinnenkamp,NaN,NaN
246991,Rachel A. White,NaN,NaN

remove special characters from the names

In [6]:
spec_chars = ["!",'"',"#","%","&","'","(",")","*","+",",","-",".","/",":",";","<","=",">","?","@","[","\\","]","^","_","`","{","|","}","~","–","’","“","”","‘","´"]

In [7]:
 for char in spec_chars:
    df['name'] = df['name'].str.replace(char, ' ')

<ipython-input-7-354c2b118f09>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['name'] = df['name'].str.replace(char, ' ')

remove digits from names

In [8]:
df['name'] = df['name'].str.replace('\d+', '')

<ipython-input-8-c65f91b5507c>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['name'] = df['name'].str.replace('\d+', '')

In [9]:
df

,name,aliases,birth_date
0,Kolyvanov Egor,Колыванов Егор,1980-11-15
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17
2,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21
3,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13
4,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24
...,...,...,...
246987,Anthony Diamante,NaN,NaN
246988,Simone Mitchell,NaN,NaN
246989,Ana Perales,NaN,NaN
246990,Laurie Hinnenkamp,NaN,NaN
246991,Rachel A White,NaN,NaN

In [10]:
df['letters']=df['name'].str.replace(" ","")

In [11]:
df

,name,aliases,birth_date,letters
0,Kolyvanov Egor,Колыванов Егор,1980-11-15,KolyvanovEgor
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,ShipovSergeiYurievich
2,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21,EgorovIvanMikhailovich
3,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13,GoreslavskyAlexeySergeyevich
4,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24,SamoilovaNatalyaVladimirovna
...,...,...,...,...
246987,Anthony Diamante,NaN,NaN,AnthonyDiamante
246988,Simone Mitchell,NaN,NaN,SimoneMitchell
246989,Ana Perales,NaN,NaN,AnaPerales
246990,Laurie Hinnenkamp,NaN,NaN,LaurieHinnenkamp
246991,Rachel A White,NaN,NaN,RachelAWhite

need to change this

In [12]:
df['is_ascii']=df['letters'].apply(lambda x : x.isascii())

In [13]:
df['is_ascii'].value_counts()

True     157130
False     49559
Name: is_ascii, dtype: int64

In [14]:
#df['is_english']=df['letters'].str.isalpha() ##this method does not work..

In [15]:
df_non_en=df[df['is_ascii']==False]

In [16]:
df_non_en

,name,aliases,birth_date,letters,is_ascii
205,Burlin O А,Бурлин О. А.,NaN,BurlinOА,False
1745,Vaganov A А,Ваганов А. А.,NaN,VaganovAА,False
1875,Vazikov S А,Вазиков С. А.,NaN,VazikovSА,False
2101,Bykov D В,Быков Д. В.,NaN,BykovDВ,False
2671,Butyrin E А,Бутырин Е. А.,NaN,ButyrinEА,False
...,...,...,...,...,...
234814,Ольшанська Марія,NaN,1988-11-30,ОльшанськаМарія,False
234815,французькою мовою Lambert Jérôme,Ламбер Жером,1957-07-07,французькоюмовоюLambertJérôme,False
234817,Лавров Владимир Валерьевич,Лавров Володимир Валерійович,1983-10-19,ЛавровВладимирВалерьевич,False
234818,Дорошко Валентин Валерьевич,Дорошко Валентин Валерійович,1984-10-02,ДорошкоВалентинВалерьевич,False
234819,Аль Хамалі Мохамед,Al-Hamali Mohamed,1991-08-20,АльХамаліМохамед,False

don't know why some english names are still coming as false :( Help!! anyways we will proceed with what we have

In [16]:
df_true=df[df['is_ascii']==True]

In [17]:
df_true

,name,aliases,birth_date,letters,is_ascii
0,Kolyvanov Egor,Колыванов Егор,1980-11-15,KolyvanovEgor,True
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,ShipovSergeiYurievich,True
2,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21,EgorovIvanMikhailovich,True
3,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13,GoreslavskyAlexeySergeyevich,True
4,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24,SamoilovaNatalyaVladimirovna,True
...,...,...,...,...,...
246987,Anthony Diamante,NaN,NaN,AnthonyDiamante,True
246988,Simone Mitchell,NaN,NaN,SimoneMitchell,True
246989,Ana Perales,NaN,NaN,AnaPerales,True
246990,Laurie Hinnenkamp,NaN,NaN,LaurieHinnenkamp,True
246991,Rachel A White,NaN,NaN,RachelAWhite,True

In [19]:
df_trans=pd.read_csv('translated_names.csv')

In [20]:
df_trans

,Unnamed: 0,Unnamed: 0.1,name,aliases,birth_date,letters,is_ascii,translated_names
0,0,205,Burlin O А,Бурлин О. А.,NaN,BurlinOА,False,Burlin O А
1,1,1745,Vaganov A А,Ваганов А. А.,NaN,VaganovAА,False,Vaganov A A
2,2,1875,Vazikov S А,Вазиков С. А.,NaN,VazikovSА,False,Vazikov S А
3,3,2101,Bykov D В,Быков Д. В.,NaN,BykovDВ,False,Bykov D В
4,4,2671,Butyrin E А,Бутырин Е. А.,NaN,ButyrinEА,False,Butyrin E А
...,...,...,...,...,...,...,...,...
49554,9554,234814,Ольшанська Марія,NaN,1988-11-30,ОльшанськаМарія,False,Olshanska Maria
49555,9555,234815,французькою мовою Lambert Jérôme,Ламбер Жером,1957-07-07,французькоюмовоюLambertJérôme,False,in French by Lambert Jérôme
49556,9556,234817,Лавров Владимир Валерьевич,Лавров Володимир Валерійович,1983-10-19,ЛавровВладимирВалерьевич,False,Lavrov Vladimir Valerievich
49557,9557,234818,Дорошко Валентин Валерьевич,Дорошко Валентин Валерійович,1984-10-02,ДорошкоВалентинВалерьевич,False,Doroshko Valentin Valerievich
49558,9558,234819,Аль Хамалі Мохамед,Al-Hamali Mohamed,1991-08-20,АльХамаліМохамед,False,Al Hamali Mohamed

Warning: total number of rows (49559) exceeds max_rows (20000). Limiting to first (20000) rows.

In [22]:
df_trans=df_trans[['translated_names','aliases','birth_date']]

In [23]:
df_trans.rename(columns={'translated_names':'name'},inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [24]:
df_true=df_true[['name','aliases','birth_date']]

In [25]:
df_final_names=pd.concat([df_trans,df_true])

In [27]:
df_final_names.shape

(206689, 3)

In [28]:
df.shape

(206689, 5)

In [30]:
df_final_names['name']=df_final_names['name'].str.lower()

In [31]:
df_final_names

                     name        aliases birth_date
0              burlin o а   Бурлин О. А.        NaN
1             vaganov a a  Ваганов А. А.        NaN
2             vazikov s а  Вазиков С. А.        NaN
3               bykov d в    Быков Д. В.        NaN
4            butyrin e  а  Бутырин Е. А.        NaN
...                   ...            ...        ...
246987   anthony diamante            NaN        NaN
246988    simone mitchell            NaN        NaN
246989        ana perales            NaN        NaN
246990  laurie hinnenkamp            NaN        NaN
246991    rachel a  white            NaN        NaN

[206689 rows x 3 columns]

In [32]:
df_final_names.to_csv('df_clean_names.csv')

In [35]:
df_final_names.to_csv('df_clean_names',encoding='utf-8')

In [36]:
from google.colab import files
files.download('df_clean_names.csv')

In [17]:
#pip install googletrans==3.1.0a0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting googletrans==3.1.0a0
  Downloading googletrans-3.1.0a0.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.1/55.1 KB 3.4 MB/s eta 0:00:00
Collecting sniffio
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Collecting hstspreload
  Downloading hstspreload-2023.1.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 26.2 MB/s eta 0:00:00
Collecting chardet==3.*
  Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.4/133.4 KB 12.7 MB/s eta 0:00:00
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.6/42.6 KB 4.2 MB/s eta 0:00:00
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2022.12.7)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.6/53.6 KB 4.7 MB/s eta 0:00:00
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.0/65.0 KB 6.2 MB/s eta 0:00:00
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.1.0a0-py3-none-any.whl size=16368 sha256=0c6cfd700abc5072315924256dcb0399edfa1d5fbf51927c9e5191999cd97cfd
  Stored in directory: /root/.cache/pip/wheels/dd/59/af/8d6c96a719763990f1c548e36b17d9efdfb767f42f7ff39f53
Successfully built googletrans
Installing collected packages: rfc3986, hyperframe, hpack, h11, chardet, sniffio, hstspreload, h2, httpcore, httpx, googletrans
  Attempting uninstall: chardet
    Found existing installation: chardet 4.0.0
    Uninstalling chardet-4.0.0:
      Successfully uninstalled chardet-4.0.0
Successfully installed chardet-3.0.4 googletrans-3.1.0a0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2023.1.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.3.0

In [32]:
# from googletrans import Translator
# translator = Translator(service_urls=['translate.googleapis.com'])

In [34]:
# translator.translate("My name is Praveen", dest="ru").text

'Меня зовут Правин'

In [19]:
# def convert(col):
#     result=translator.translate(str(col),dest='en')
#     text=result.text
#     return text

In [37]:
# d1=df_non_en.iloc[:10000,:]

In [38]:
# d1.shape

(10000, 5)

In [39]:
# d2=df_non_en.iloc[10000:20000,:]

In [40]:
# d2.shape

(10000, 5)

In [24]:
# df_non_en.shape

(49559, 5)

In [41]:
# d1['translated_names']=d1['name'].apply(convert)

<ipython-input-41-9f08cb654343>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1['translated_names']=d1['name'].apply(convert)

In [42]:
# d2['translated_names']=d2['name'].apply(convert)

<ipython-input-42-beaf6f3e1cb0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2['translated_names']=d2['name'].apply(convert)

In [43]:
# df_half=pd.concat([d1,d2])

In [44]:
# df_half

,name,aliases,birth_date,letters,is_ascii,translated_names
205,Burlin O А,Бурлин О. А.,NaN,BurlinOА,False,Burlin O А
1745,Vaganov A А,Ваганов А. А.,NaN,VaganovAА,False,Vaganov A A
1875,Vazikov S А,Вазиков С. А.,NaN,VazikovSА,False,Vazikov S А
2101,Bykov D В,Быков Д. В.,NaN,BykovDВ,False,Bykov D В
2671,Butyrin E А,Бутырин Е. А.,NaN,ButyrinEА,False,Butyrin E А
...,...,...,...,...,...,...
81560,Hermínio Morais,NaN,NaN,HermínioMorais,False,Herminio Morais
81561,Hortência Gaurassue Zacarias Magibire de,NaN,NaN,HortênciaGaurassueZacariasMagibirede,False,Hydrangea Gaurassue Zacarias Magibire de
81563,Inácia Henriques Carneiro Ngonde,NaN,NaN,InáciaHenriquesCarneiroNgonde,False,Inacia Henriques Carneiro Ngonde
81564,Inácio João Reis,NaN,NaN,InácioJoãoReis,False,Ignatius Joao Reis
81566,Ivone Sansão Bila,NaN,NaN,IvoneSansãoBila,False,Ivone Sansão Bila

In [45]:
# df_half.to_csv('df_first_half.csv')

In [46]:
# d3=df_non_en.iloc[20000:30000,:]

In [47]:
# d3.shape

(10000, 5)

In [49]:
# d4=df_non_en.iloc[30000:40000,:]

In [50]:
# d4.shape

(10000, 5)

In [51]:
# d5=df_non_en.iloc[40000:,:]

In [52]:
# d5.shape

(9559, 5)

In [48]:
# df_non_en.shape

(49559, 5)

In [53]:
# d3['translated_names']=d3['name'].apply(convert)

<ipython-input-53-6ab1eb8afae0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d3['translated_names']=d3['name'].apply(convert)

In [54]:
# d4['translated_names']=d4['name'].apply(convert)

<ipython-input-54-62ea0bcbe03f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d4['translated_names']=d4['name'].apply(convert)

In [55]:
# df_s=pd.concat([d3,d4])

In [56]:
# df_s

,name,aliases,birth_date,letters,is_ascii,translated_names
81567,Joana Júlia Seifana Mucamba Ravia,NaN,NaN,JoanaJúliaSeifanaMucambaRavia,False,Joanna Julia Seifana Ravia
81572,João Catemba Chacuamba,NaN,NaN,JoãoCatembaChacuamba,False,Joao Catemba Chacuamba
81573,João Samuel Watchy,NaN,NaN,JoãoSamuelWatchy,False,John Samuel Watchy
81574,Kintheyaro Júlia Mariana Aguacheiro,NaN,NaN,KintheyaroJúliaMarianaAguacheiro,False,Julia Maria Aguacheiro - The Best Of Julia Mar...
81575,Luísa André Avelino Cuchamano,NaN,NaN,LuísaAndréAvelinoCuchamano,False,Luisa André Avelino Cuchamano
...,...,...,...,...,...,...
159215,François Dupont,NaN,1947-12-10,FrançoisDupont,False,Francois Dupont
159216,Pablo Gómez Álvarez,Pablo Gomez;Pablo Gomez Alvarez;Pablo Gómez;Го...,1946,PabloGómezÁlvarez,False,Pablo Gomez Alvarez
159229,Andrzej Celiński,Andrzej Bohdan Celiński;Andrzej Celinski;Celin...,1950-02-26,AndrzejCeliński,False,Andrzej Celinski
159243,Françoise Olivier Coupeau,Francoise Olivier-Coupeau;Françoise OLIVIER-CO...,1959-07-03,FrançoiseOlivierCoupeau,False,Francoise Olivier Coupeau
159244,Ana Camíns,Ana Camins Martínez;Ana Camíns Martínez;انا كا...,1979-02-26,AnaCamíns,False,Ana Camíns

## conversion of d1,d2,d3 and d4 is done. 

d1,d2 - first half 
d3,d4- df_s

In [57]:
# df_s.to_csv('df_s.csv')

In [61]:
# d5['translated_names']=d5['name'].apply(convert)

ReadTimeout: ignored

In [59]:
# d5.shape

(9559, 5)

In [60]:
# d5.to_csv('d5.csv')

In [ ]:
# df_final.to_csv('clean_sanction_name.csv')

In [ ]:
# df_final.isna().sum()