<a href="https://colab.research.google.com/github/praveen555/IMI-BIGDATA--CHALLENGE/blob/main/KYC_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install fuzzywuzzy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [2]:
pip install python-levenshtein

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-levenshtein
  Downloading python_Levenshtein-0.20.9-py3-none-any.whl (9.4 kB)
Collecting Levenshtein==0.20.9
  Downloading Levenshtein-0.20.9-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (174 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 174.0/174.0 KB 5.8 MB/s eta 0:00:00
Collecting rapidfuzz<3.0.0,>=2.3.0
  Downloading rapidfuzz-2.13.7-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 42.2 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, Levenshtein, python-levenshtein
Successfully installed Levenshtein-0.20.9 python-levenshtein-0.20.9 rapidfuzz-2.13.7

In [4]:
import os
import pandas as pd
import re 
import matplotlib.pyplot as plt
from datetime import datetime, date
import numpy as np
from google.colab import drive
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
drive.mount('/content/drive')
path='/content/drive/MyDrive/Colab Notebooks/IMI_BigData_Challenge/Raw data files'
path_2='/content/drive/MyDrive/Colab Notebooks/IMI_BigData_Challenge/Task_1_Data'
path_edge=os.path.join(path,'UofT_edges.csv')
path_nodes=os.path.join(path,'UofT_nodes.csv')
path_occupation_risk=os.path.join(path,'UofT_occupation_risk.csv')
path_name_list='/content/drive/MyDrive/Colab Notebooks/IMI_BigData_Challenge/name_list.csv'
path_clean_customer=os.path.join(path_2,'clean_customer_names.csv')
path_clean_sanctions=os.path.join(path_2,'clean_sanction_names.csv')

Mounted at /content/drive

In [5]:
customer_names=pd.read_csv('ScotiaBank_names.csv')

In [6]:
customer_names

                                  NAME    BIRTH_DT
0          young marie mildren coleman  1981-09-01
1                     mark stupar lecy  1994-02-21
2           dean glasper wendel reeves  1962-11-16
3                   hulsey linda rauth  1998-06-20
4           carolyn washington roberts  1942-01-24
...                                ...         ...
999251                bret dove gainey  1939-01-16
999252       anthony ray montano gomez  1970-12-13
999253  bernadette schofield pace mile  1958-09-09
999254          wasson russell terrell  1983-09-15
999255                daniel mckeighan  1962-01-23

[999256 rows x 2 columns]

In [9]:
sanction_names=pd.read_csv('clean_sanction_name.csv')

In [10]:
sanction_names

,name,aliases,birth_date
0,kolyvanov egor,Колыванов Егор,1980-11-15
1,shipov sergei yurievich,Шипов Сергей Юрьевич,1966-04-17
2,egorov ivan mikhailovich,Егоров Иван Михайлович,1961-01-21
3,goreslavsky alexey sergeyevich,Гореславский Алексей Сергеевич,1977-07-13
4,samoilova natalya vladimirovna,Самойлова Наталья Владимировна,1987-06-24
...,...,...,...
206684,rustam abdulsaidovich geremeev,Рустам Абдулсаидович ​Геремеев;​Geremeev Rusta...,1982-04-26
206685,khedi abdulsaidovna geremeeva,Хеди Абдулсаидовна ​Геремеева;​Geremeeva Hedi ...,NaN
206686,izumrud muzhayevna mugutdinova,Изумруд Мужайевна​ ​Мугутдинова;​Mugutdinova I...,1954-02-23
206687,amkhad kharalievich khatataev,Амхад Харалиевич​ ​Хататаев;​Hatataev Amhad Ha...,NaN
206688,akhmed zaynutdinovich zelmukhanov,Ахмед Зайнутдинович​ ​Зельмуханов;​Zel'muhanov...,NaN

In [11]:
sanction_names.rename(columns={'birth_date':"BIRTH_DT"},inplace=True)

In [12]:
sanction_names.head(2)

                      name               aliases    BIRTH_DT
0           kolyvanov egor        Колыванов Егор  1980-11-15
1  shipov sergei yurievich  Шипов Сергей Юрьевич  1966-04-17

In [13]:
df=pd.merge(customer_names,sanction_names,on='BIRTH_DT')

In [14]:
df

,NAME,BIRTH_DT,name,aliases
0,young marie mildren coleman,1981-09-01,adrian cusiac,NaN
1,young marie mildren coleman,1981-09-01,petrovic zelimir,Zelimir Petrovic
2,young marie mildren coleman,1981-09-01,josé ignacio paliza,Jose Ignacio Paliza;Jose Paliza;José Ignacio P...
3,young marie mildren coleman,1981-09-01,inger lise hansen,NaN
4,young marie mildren coleman,1981-09-01,matt warman,"Matthew Robert Warman;Warman, Matt;مات وارمان;..."
...,...,...,...,...
5000643,june vick fultz,1921-04-21,pierre teuscher,"Teuscher, Pierre"
5000644,june vick fultz,1921-04-21,nicolaus dreyer,Dreyer!;Nikolaus Dreyer;نيكولاوس درير
5000645,nick tamayo turner,1925-08-31,paolo tringali,NaN
5000646,nick tamayo turner,1925-08-31,dewey l hill,Dewey Lewis Hill;ديوى ال. هيل;ديوي إل. هيل;دیو...
5000647,nick tamayo turner,1925-08-31,shirley walters,"Mary Shirley Walters;Mary Walters;Walters, Mary"

In [17]:
def fuzzyscore(col):
  return fuzz.token_sort_ratio(col['NAME'],col['name'])

In [18]:
df['score']=df.apply(fuzzyscore,axis=1)

In [19]:
high_risk_names=df[(df['score']>=75)]

In [20]:
high_risk_names.shape

(43, 5)

In [21]:
high_risk_names.sort_values('score',ascending=False,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [22]:
high_risk_names

,NAME,BIRTH_DT,name,aliases,score
3716386,samantha lewthwaite,1983-12-05,samantha lewthwaite,Bílá vdova;SAMANTHA LOUISE LEWTHWAITE;Samantha...,100
376833,hlaing min aung,1956-07-03,min aung hlaing,"El Pinochet Birmano;HLAING, Min Aung;Jeneral K...",100
3506215,o jong gil,1962-08-30,jong gil o,Jong Gil O;O Jong Gil,100
857116,zheynova marina nikolaevna,1985-02-15,marina nikolaevna zheynova,Marina Nikolaevna Zheynova;Marina Nikolajevna ...,100
2853650,paul franklin watson,1950-12-02,paul franklin watson,Paul Franklin Watson;Paul Watson;Пол Ватсон;По...,100
2645979,alexey alexeyevich gromov,1960-05-31,alexey alexeyevich gromov,A. Gromov;Aleksei Gromov;Aleksej Aleksejevitsj...,100
1439126,bezrukov sergey vitalyevich,1973-10-18,sergey vitalyevich bezrukov,BEZRUKOV Sergei Vitalevich;Bezrukov Sergey Vit...,100
4197460,tsertsel ivan stanislavavich,1966-09-08,ivan stanislavavich tertel,Ivan Stanislavavich TSERTSEL;Ivan Stanislavavi...,96
2066226,trinidad y ramirez angelo,1978-03-20,angelo ramirez trinidad,ANGELO RAMIREZ TRINIDAD;Abdukahlil;Abdul Khali...,96
3306622,rakhim azizboevich azimov,1964-08-16,rahim azizboevich asimov,"ASIMOV, Rahim Azizboyevich;AZIMOV Rakhim Azizb...",94
2706688,tetiana viktorivna pereverzeva,1964-06-20,tatiana viktorovna pereverzeva,"PEREVERZEVA Tatyana Viktorovna;PEREVERZEVA, Ta...",93
3762840,maria bono mack,1961-10-24,mary bono mack,"Bono Mack;Bono Mack, Mary;Maria Bono;Maria Bon...",90
60629,sayeed hafez mohammad,1950-06-05,hafiz muhammad saeed,HAFIZ MUHAMMAD SAEED;HAFIZ SAAB SAYED;HAFIZ SA...,88
1614106,heather ann wilson,1960-12-30,heather wilson,"Heather Ann Wilson;Wilson;Wilson, Heather;Уилс...",88
3824392,david guidi,1970-10-08,david duguid,David Duguid (politician);David James Duguid;D...,87
2029498,chandra hernandez,1978-08-25,ana hernandez,Ana E. Hernandez;Ana Hernanenz;Ана Хернандез;آ...,87
4469938,yon jun jo,1937-09-28,cho yon jun,"CHO YON CHUN;CHO, Yon Chun;Cho Yon Chun;Cho Yŏ...",86
4480050,herlinto chamorro acosta,1956-01-10,eliecer herlinto chamorro acosta,Antonio Garcia;Antonio Garcia (guerrillero);An...,86
238247,jose benito cabrera cuevas,1963-07-06,jose benito cabrera,Fabian Ramirez;Fabian Ramírez;Fabián Ramírez;J...,84
1134198,oleksin alexei ivanovich,1966-10-29,aleksej ivanovitj oleksin,"ALEKSIN, Aliaksei;ALEKSIN, Aliaksey;ALEKSIN, A...",82
1204091,alexander pealer,1956-03-16,alexander italianer,NaN,80
2589578,richard harris,1955-05-20,christa reichard,Reichard;كريستا ريتشارد,80
3007445,jones sally anne,1968-11-17,sally anne frances jones,"AL-BRITANI, Umm Hussain;HUSSAIN, Sakinah;JONES...",80
2294337,leonid i kalaschnikow,1960-08-06,kalashnikov leonid ivanovich,"KALASHNIKOV, Leonid Ivanovich;Kalashnikov Leon...",78
1928171,haynes mark,1969-04-19,mark harbers,M.G.J. Harbers;Markus Gerardus Jozef Harbers;М...,78
1954856,david miller moreno,1953-01-29,david miller,David Miller (Wyoming politician);David R. Mil...,77
1146740,park michael,1960-12-29,michael pappas,"Michael J. Pappas;Michael James Pappas;Pappas,...",77
4301968,cesar duarte jaquez,1963-04-14,césar horacio duarte jáquez,CESAR HORACIO DUARTE JAQUEZ;Cesar Duarte Jaque...,77
3432841,koch kimberly,1970-02-16,kimberley kitching,"Kimberley Jane Elizabeth Kitching;Kitching, Ki...",77
520961,thomas craig,1971-01-11,thomas rudigoz,توماس روديجوز,77
1653587,robles michael doby sanchez,1962-07-10,isabel sánchez robles,Isabel Sanchez Robles;Isabel Sánchez;Sánchez R...,77
4006371,brenda pope,1971-01-20,petr benda,"Benda, Petr",76
2531620,kelley christopher,1978-06-03,chris kelly,Christopher Dimitri Kelly;Крис Келли;كريس كيلى...,76
2568327,currence robert,1941-06-03,robert carrier,روبرت كارير;روبيرت كارير,76
1028956,alison merrilla redford,1965-03-07,alison redford,Alison Merrilla Redford;Άλισον Ρέντφορντ;Елісо...,76
866270,nicholas elliott,1955-04-30,nicolas hulot,"Николя Юло;Юло, Николя;نيكولا إولو;نيكولا اولو...",76
4595666,john kelly williams,1946-12-31,john g williams,John Williams;جون جى. وليامز;جون جي. وليامز;জন...,76
3933699,john fraser,1949-05-06,fraser wilson,Fraser Andrew Wilson,75
2484272,patty rosen,1952-10-01,patsy sörensen,Patsy Sorensen;پاتسى سورينسين,75
4046429,gray christopher smith,1962-10-25,christopher fraser,Christopher James Fraser;Кристофер Фрайзер;كري...,75
4150272,smirnova natalia,1972-06-15,smirnova natalya ivanova,Natalia Smirnova;Natalya Ivanova Smirnova;Nata...,75
2211342,key carlos allaire,1971-05-18,alvares carlos,Carlos Alvares,75
864037,wilson john,1972-11-17,john robinson,John C. Robinson;John Robinson (Maine politici...,75

In [ ]:
#high_risk_names.to_csv('high_risk_names_v2.csv')

## secondary process ideas ?